* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Seviye Ekranı */
.level-screen {
    display: flex; /* Başlangıçta gizli */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/seviye-ekran.png'); /* Burada arka plan görselinizin yolunu girin */
    background-size: cover;
    color: white;
    z-index: 1;
  }
    
  .level-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 55px; /* Sütunlar arasındaki boşluğu artırmak için gap değerini artırdım */
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: 90%;
    box-sizing: border-box;
  }
  
  .level {
    background-color: rgba(255, 255, 255, 0.5);  /* Daha açık arka plan rengi */
    color: #006600; /* Yazı rengi */
    width: 120px;  /* Genişlik */
    height: 40px; /* Yükseklik */
    display: flex;
    justify-content: center;
    align-items: center; /* İçeriği yatay ve dikey ortalar */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .level:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.6);
  }
  /*--------------------------------- benim kendim düzenlediğim sayfa--------------------------------- */

  .symbol {
    font-size: 2.5em; /* Tıklanabilir sembol büyüklüğü */
    width: 100%; /* Hücreye sığacak şekilde genişlik */
    height: 100%; /* Hücreye sığacak şekilde yükseklik */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Tıklanabilirlik işareti */
    border: 2px solid transparent; /* Başlangıçta şeffaf çerçeve */
    transition: border-color 0.3s ease; /* Çerçeve rengini yumuşak geçişle değiştirin */
  }
  
  .symbol img {
    width: 90%; /* Görselin hücreye sığması için */
    height: 90%;
    object-fit: contain; /* Görselin orantılı şekilde küçültülmesi */
    pointer-events: none; /* Görselin üzerine tıklanmasını engelliyoruz */
  }

  @media (max-width: 768px) {
    /* Mobil cihazlar için stil ayarları */
    /* Giriş alanını %30 küçült */
    input {
      transform: scale(0.7);
    }
    /* Sıfırlama ve geri dön butonlarını %50 küçült */
    #reset-button,
    #back-button {
      transform: scale(0.5);
    }
    .level-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .level {
      width: 100px;
      height: 35px;
      font-size: 0.8rem;
    }
  }