/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #000; /* Yüklenme hatasına karşı siyah arka plan */
}

.Mother-screen {
  width: 100%;
  height: 100%;
  background-image: url('images/background-image.png'); /* Burada arka plan görselinizin yolunu girin */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8); /* Beyaz şeffaf arka plan */
  color: #000; /* Yazı rengini siyah yapıyoruz */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #7a4a34; /* Koyu kahverengi */
}

p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: #c4966f; /* Koyu kahve rengi */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .overlay {
    padding: 15px;
  }
}











